<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Meus Filmes Favoritos</title>
    <link rel="stylesheet" href="../../static//css/index.css">
</head>
<body>
    <main class="container">
        <h1>My Frame 🍿</h1>

        <form id="form-filme">
            <input type="text" id="titulo" placeholder="Título do filme" required>
            <input type="number" id="nota" placeholder="Nota (0-10)" min="0" max="10" required>
            <textarea id="critica" placeholder="Crítica ou dica..." rows="4" required></textarea>
            <button type="submit" style="color: white; font-weight: bolder;" >Adicionar Filme</button>
        </form>

        <section id="lista-filmes">
            <h2>Filmes adicionados:</h2>
            <ul id="filmes-ul"></ul>
        </section>
    </main>

    <script src="../../static/js/index.js"></script>
</body>
</html>
